body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header"
    "navbar content";
}

/* HEADER */
header {
  grid-area: header;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  box-shadow: 0px 5px 8px -3px rgba(34, 60, 80, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "logo input conrols";
  align-items: center;
}

.logo {
  grid-area: logo;
  justify-self: start;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  cursor: pointer;
  user-select: none;
}

@media all and (min-width: 590px) and (max-width: 679px) {
  .logo {
    font-size: 1.2em;
  }
}

@media all and (min-width: 240px) and (max-width: 589px) {
  .logo {
    font-size: 0.8em;
  }
}

.header-input {
  grid-area: input;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-self: center;
}

.header-input button:hover {
  cursor: pointer;
}

.header-input input,
.header-input button {
  border: 1px solid rgba(147, 128, 108, 0.25);
  padding: 0.5em 0.75em;
}

.header-input input {
  border-radius: 0;
  width: 25vw;
}

.header-input input:focus {
  outline: none;
  border: 2px solid rgba(0, 174, 255, 0.6);
}

header .fas.pressable {
  color: rgb(171, 171, 171);
  margin: 0px 8px;
}

header .fas.pressable:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.header-controls {
  grid-area: conrols;
  justify-self: end;
  display: flex;
  align-items: center;
}

/* Dropdown Menu */
.menu {
  position: relative;
  margin-left: 8px;
  z-index: 10;
}

.menu > span {
  width: 40px;
  height: 40px;
  background-color: rgba(133, 133, 133, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.7s ease-in-out;
}

.menu > span:hover {
  transform: rotate(360deg);
  background-color: rgb(255, 58, 58);
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  border-radius: 6px;
}

.menu-content > div {
  padding: 8px 12px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(147, 128, 108, 0.25);
}

.menu-content > div:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.menu-content > div:last-child {
  color: red;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 1;
}

.menu-content > div:hover {
  background-color: rgba(133, 133, 133, 0.3);
}

.menu:hover .menu-content {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.menu-content a {
  color: black;
  text-decoration: none;
}

.menu-content > div:last-child > a {
  color: red;
}
