/* MAIN CONTENT */
main {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "tags"
    "videos";
  height: calc(100vh - 80px);
  overflow-y: auto;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags {
  grid-area: tags;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tags::-webkit-scrollbar {
  display: none;
}

.tag {
  padding: 10px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgba(147, 128, 108, 0.25);
  border-radius: 20px;
  margin-right: 5px;
  font-weight: 600;
}

.tag:first-child {
  background-color: rgb(255, 220, 63);
}

.tag:hover {
  background-color: rgba(133, 133, 133, 0.3);
  cursor: pointer;
}

.videos-grid {
  grid-area: videos;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 20px;
  overflow-y: auto;
  margin: 0 20px;
}

.video {
  box-sizing: border-box;
}

.video-preview {
  height: 180px;
  width: auto;
  position: relative;
}

.video-preview > .overlay,
.video-preview .overlay-hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.video-preview .overlay-hover {
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: white;
  transition: opacity 0.3s linear;
}

.overlay-hover:hover {
  background-color: rgba(98, 98, 98, 0.7);
  opacity: 1;
}

.overlay > .live {
  height: 16px;
  width: auto;
  padding: 0px 5px 8px 5px;
  margin: 10px 0 0 10px;
  border-radius: 4px;
  color: white;
  background-color: rgb(255, 58, 58);
}

.overlay > .online,
.overlay > .time {
  height: 16px;
  width: auto;
  padding: 0px 5px 8px 5px;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  color: white;
  background-color: rgba(97, 97, 97, 0.7);
  align-self: flex-end;
  margin-left: auto;
}

.video-preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.video-info {
  min-width: 300px;
  max-width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.video-info-text {
  width: calc(100% - 50px);
}

.video-info-text p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.video-info-text p:hover {
  color: rgb(255, 58, 58);
  cursor: pointer;
}

.video-author {
  font-size: 0.8em;
  color: rgb(133, 133, 133);
}

.video-author-avatar {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.video-author-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.video-name {
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.video-menu {
  margin-left: auto;
  align-self: flex-start;
  margin-top: 5px;
  cursor: pointer;
}

footer > h3 {
  text-align: center;
  font-weight: 400;
}

footer a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}
