/* NAVBAR */
@media all and (min-width: 680px) {
  nav {
    grid-area: navbar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 150px;
    grid-template-areas:
      "anime-characters"
      "infoblock";
    width: 280px;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    background-color: whitesmoke;
  }

  .nav-character-container {
    grid-area: anime-characters;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .nav-character {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav-character p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .nav-character:hover {
    background-color: rgba(133, 133, 133, 0.3);
  }

  .nav-character-image-container {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .nav-character-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }

  .nav-character-info {
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .nav-character-name {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .nav-character-streamings {
    width: 65px;
    text-align: end;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .nav-character-streamings > p {
    margin-left: auto;
  }

  .nav-character-streamings > span {
    align-self: center;
    height: 10px;
    width: 10px;
    background-color: rgb(255, 58, 58);
    border-radius: 50%;
    animation: pulse 2s infinite;
  }

  .nav-infoblock {
    grid-area: infoblock;
    border-top: 2px solid white;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav-infoblock-container {
    height: 100%;
    background-color: rgba(133, 133, 133, 0.3);
    border-radius: 4px;
    padding: 10px 15px;
    box-sizing: border-box;
    text-align: center;
  }

  .nav-infoblock p {
    margin-block-start: 0;
    margin-block-end: 15px;
    font-size: 1.2em;
    font-weight: 600;
  }

  .nav-infoblock p::selection {
    background-color: rgb(255, 58, 58);
  }

  .nav-infoblock i {
    color: black;
    margin: 0px 8px;
  }

  .nav-infoblock i:hover {
    cursor: pointer;
  }

  .fa-telegram:hover {
    color: rgb(39, 150, 255);
  }

  .fa-instagram:hover {
    color: rgb(255, 58, 58);
  }

  .fa-facebook:hover {
    color: rgb(0, 26, 255);
  }
}

@media all and (min-width: 240px) and (max-width: 1200px) {
  nav {
    grid-area: navbar;
    width: 60px;
    height: calc(100vh - 80px);
    background-color: whitesmoke;
  }

  .nav-character-container {
    grid-area: anime-characters;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .nav-character {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav-character p {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .nav-character:hover {
    background-color: rgba(133, 133, 133, 0.3);
  }

  .nav-character-image-container {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .nav-character-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }

  .nav-character-info {
    display: none;
  }

  .nav-infoblock {
    display: none;
  }
}
