body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "header header"
    "navbar content";
}
